
version: '3.0'
services:
  web:
    image: ghcr.io/somedumbfox/docker-passel-js:main
    command: npm run start
    environment:
      - TOKEN=${TOKEN}
      - clientId=${clientId}
      - SQL=${SQL}
      - SQLUser=${SQLUser}
      - SQLPass=${SQLPass}
      - TASKINTERVAL=${TASKINTERVAL}
    volumes:
      - DATA:${DATAPATH}

volumes:
  DATA:
    external: true